@import '../vars';

.checkout {
	background: none;
	position: relative;
  background-size: cover;
  min-height: 1150px; 
  width: 100%;
  z-index: 1;
	-webkit-appearance: none;
	padding: 0 10px;
	
	border-top: 120px solid transparent;
	margin-top: -220px;
	background-clip: padding-box;
	
	@media screen and (min-width: 776px) {
		background: url(../img/background/cover_3.png) 50% 90% no-repeat;
	}

	// margin-bottom: 70px;

  &::before {
    content: ""; 
    display: block;
		position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
		background-color: rgba($lightBlue, .15);
	}
}

.order {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
		
	@media screen and (min-width: 992px) {
		flex-direction: row;
	}

	&__form {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: $white;
		border-radius: 10px;
		margin: 10px 0;
		z-index: 50;
		width: 90%; 
		box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
		 
		@media screen and (min-width: 560px) {
			width: 70%; 
		}
		
		@media screen and (min-width: 776px) {
			margin: 30px 10px;
			width: 50%; 
		}
		
		@media screen and (min-width: 992px) {
			width: 30%; 
		}
	}
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px 10px 0 0;
	width: 100%;
	margin-bottom: 25px;
	background-color: $blue;
	color: $white;
	
	&__count {
		padding-left: 30px;
		margin-left: -80px;
		line-height: 150px;
		font-size: 6.7rem;
		color: $white;
		position: relative;
		transition: all .5s ease ;
		
		&::before {
			content: "$";
			font-size: 3.2rem;
			position: absolute;
			left: 0;
			top: 0;
		}
		
		&::after {
			content: "/ month";
			position: absolute;
			font-size: 1.8rem;
			text-transform: uppercase;
			font-weight: bold;
			bottom: -20px;
			right: -90px;
		}
	}
}

.describe {
	font-size: 1.8rem;
	line-height: 50px;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: center;
	
	@media screen and (min-width: 776px) {
		margin-bottom: 25px;
	}

	&::after {
		content: '';
		display: block;
		width: 50%;
		height: 1px;
		background-color: $grey;
		margin: auto;
	}

	&--last-child {
		&::after {
			display: none;
		}
	}
}

.btn--order-form {
	border-radius: 20px;
	margin: 0 60px 50px;
	box-shadow: none;
	transition: all .5s ease ;
	
	@media screen and (min-width: 776px) {
		margin: 0 40px 50px;
	}
	
	@media screen and (min-width: 1200px) {
		margin: 0 70px 50px;
	}
}

.checkout--hover {
	color: rgb(165, 10, 10);
	transition: all .5s ease ;
}

// slider

.checkout-review {
	position: relative;
	height: 500px;
	margin-bottom: -20px; 
	
	@media screen and (min-width: 776px) {
		margin-bottom: -40px; 
	}
}

.slider {
	position: relative;
	margin: 0 auto;
	width: 95%;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); 
	background-color: $white;
	border-radius: 10px;
}

.slide_viewer {
  height: 380px;
  overflow: hidden;
  position: relative;
	
	@media screen and (min-width: 776px) {
		height: 250px;
	}
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center; 
	
	@media screen and (min-width: 776px) {
		flex-direction: row;
		justify-content: space-around;
		align-items: center; 
	}

	&__photo {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 275px;
		margin-top: 10px; 
		margin-right: 0px;
		position: relative;
		
		@media screen and (min-width: 776px) {
			margin-top: 0px; 
			margin-right: 10px;
		}
		
		@media screen and (min-width: 1200px) {
			margin-right: 70px;
		}

		&::after {
			content: "";
			position: absolute;
			width: 150px;
			height: 150px;
			top: -10px;
			left: -10px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid rgba($grey, .5);
		} 
	}

	&__desc {
		display: flex;
		flex-direction: column;
		max-width: 80%;
		padding: 0 10px;
		position: relative; 
		
		@media screen and (min-width: 480px) {
			max-width: 345px;
			padding: 0;
		}
		
		@media screen and (min-width: 992px) {
			max-width: 535px;
		}
		
		@media screen and (min-width: 1200px) {
			max-width: 675px;
		}

		&::before {
			content: '"';
			position: absolute;
			font-size: 6rem;
			color: $lightBlue;
			transform: rotate(180deg);
			font-style: italic;
			left: -10px;
			top: -60px;
			
			@media screen and (min-width: 480px) {
				left: -30px;
			}
			
			@media screen and (min-width: 776px) {
				left: -50px;
			}
		}

		&::after {
			content: '"';
			position: absolute;
			font-size: 6rem;
			color: $lightBlue;
			font-style: italic;
			bottom: 10px;
			right: -0px;
			
			@media screen and (min-width: 480px) {
				bottom: 30px;
				right: -20px;
			}
			
			@media screen and (min-width: 776px) {
				bottom: 0px;
				right: -30px;
			}
		}
	}
}

.trainer {
	&-photo {
		width: 130px;
		height: 130px;
		border-radius: 50%;
	}

	&-desc {
		font-size: 1.4rem;
		font-style: italic;
		text-align: center;
		margin-bottom: 50px;
			
		@media screen and (min-width: 480px) {
			text-align: left;
		}
		
		@media screen and (min-width: 776px) {
			margin-bottom: 30px;
		}
	}

	&-position {
		font-size: 1.4rem;
		position: relative;

		&::before { 
			content: none;
			position: absolute;
			width: 2px;
			height: 50px;
			top: -10px;
			left: -40px;
			background-color: rgba($grey, .5);
			
			@media screen and (min-width: 480px) {
				content: "";
			}
			
			@media screen and (min-width: 776px) {
				top: -40px;
				height: 80px;
			}
		} 
	}

	&-name {
		font-size: 1.5rem;
		text-transform: capitalize;
		color: $lightBlue;
	}
}

// slide button

.slide_buttons {
	position: absolute;
	top: -30px;
	right: 32%;
	text-align: center;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
			
	@media screen and (min-width: 480px) {
		right: 40%;
	}

	@media screen and (min-width: 1200px) {
		top: 50px;
		right: -5px;
		flex-direction: column;
	}
}

.slide_btn {
	display: block;
	width: 21px;
	height: 21px;
	border: 2px solid $grey;
	border-radius: 50%;
	margin-right: 10px;
	background-color: transparent;
  cursor: pointer;
	
	@media screen and (min-width: 1200px) {
		margin-bottom: 10px;
		margin-right: 0;
	}
}

.slide_btn.active, .slide_btn:hover {
	display: block;
	background-color: $blue;
	position: relative;
	border: 2px solid $blue;
	
	&::before {
		content: '';
		position: relative;
		top: 1px;
		left: 1px;
		display: block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 3px solid $white;
		background-color: transparent;


	}
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
	top: -340px;
	
	&__next {
		position: absolute;
		display: flex;
		bottom: -65px;
		left: 30%;
		
		@media screen and (min-width: 776px) {
			bottom: -36px;
			left: 45%;
		}
	}
}

.next {
	&-photo {
		&--trainer-photo {
			border-radius: 50%;
			width: 70px;
			height: 70px;
			margin-right: 5px;
			border: 2px solid rgba($grey, .5);
		}
	}

	&-desc {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;

			&__name {
			font-size: 1.4rem;
			margin-bottom: 5px; 
			color: $grey;
			text-transform: capitalize;
		}

		&__position {
			font-size: 1rem;
		}
	}
}

// button

#previousBtn {
	margin: auto;
  position: absolute;
  bottom: -55px;
  left: 5%;
	
	@media screen and (min-width: 480px) {
		left: 10%;
	}
	
	@media screen and (min-width: 776px) {
		bottom: -30px;
		left: 25%;
	}
}

#nextBtn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 5%;
	bottom: -55px;
	
	@media screen and (min-width: 480px) {
		right: 10%;
	}
	
	@media screen and (min-width: 776px) {
		bottom: -30px;
		right: 25%;
	}
}

#previousBtn, #nextBtn {
  cursor: pointer;
  height: 65px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

#previousBtn:hover, #nextBtn:hover {
  opacity: .5;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}
