@import '../vars';

.feedback {
  background: url(../img/background/cover.jpg) 20% 50% no-repeat;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  z-index: 1;
	-webkit-appearance: none;

  &::before {
    content: "";
    display: block;
		position: absolute;
		min-height: 600px;
    width: 100%;
		background-color: rgba($lightBlue, .8);
	}
}

.container--feedback {
	display: flex;
	justify-content: center;
	// align-self: center;
}

// feedback-form

.feedback-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: $white;
	border-radius: 10px;
	padding: 30px;
	margin: 100px 0 100px 240px;
	z-index: 999;

	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		text-transform: unset;
		letter-spacing: .8px;
		color: $lightBlue;
		padding-left: 5px;
		margin-bottom: 30px; 
	}
	
	&__input {
		font-size: 1.5rem;
		color: $grey;
		line-height: 50px;
		background-color: $lightGrey; 
		width: 230px; 
		padding-left: 10px; 
		border: 1px solid transparent;
		border-radius: 10px;
		padding-left: 10px;
		margin-bottom: 15px;

		&:focus {
			outline: none;
		}

		&--class-choice {
			min-height: 50px;
			margin-bottom: 30px;
		}
	}
}

.class-choice {
	font-size: 1.5rem;
}

.btn--feedback-form {
	align-self: flex-end;
}

// feedback-desc

.feedback-desc {
	// max-width: 570px;
	// min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: $white;
	margin-left: 75px;
	z-index: 999;

	&__title {
		font-size: 4.8rem;
		line-height: 1.5; 
	}

	&__describe {
		font-size: 4rem;
		font-family: Freestyle Script;
	}
}


