@import '../vars';

.treatments {
	background: url(../img/background/cover_2.png) 25% 50% no-repeat;
	position: relative;
	background-size: cover;
	display: flex;
	align-content: center; 
  min-height: 800px;
  width: 100%;
	margin-bottom: 100px;
  z-index: 0;
	-webkit-appearance: none;


  &::before {
    content: ""; 
    display: block;
		position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
		background-color: rgba($lightBlue, .8);
	}
}

.treatments-info { 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%; 
}

.treatments-block {
	position: relative;
	z-index: 99;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 275px;
	max-width: 270px;
	margin: 10px;
	text-align: center;
}

.treatments-block__icon {
	width: 70px;
	height: 70px;
	border: 2px solid $white;
	border-radius: 50%;
	background-color: transparent;
	margin-top: 15px;
	margin-bottom: 25px;

	display: flex;
	justify-content: center;
	align-items: center;

}

.block-icon {
	width: 40px;
	height: 40px;
}

.title--treatments {
	font-size: 1.8rem;
	color: $white;
	margin-bottom: 10px;
}

.treatments-block__desc {
	font-size: 1.6rem;
	color: $white;
}
