@font-face {
	font-family: 'Freestyle Script';
	font-display: auto;
  src: url('../assets/fonts/Freestyle_Script/FreestyleScript.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
	font-family: 'Open Sans';
	font-display: auto;
  src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
	font-family: 'Open Sans semiBold';
	font-display: auto;
  src: url('../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format("truetype");
  font-style: normal;
  font-weight: 700; 
}
