$default-font: Open Sans;
 
$lightGrey: #F2F2F2;
$grey: #888888;
$darkGrey: #555555;
$white: #FFFFFF;
$black: #000000;
// $darkRed: #B21212;
// $yellow: #FFFC19;
// $lightRed: #FF0000;
$lightBlue: #5363db;
// $darkBlue: #0971B2;
